
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
   margin: 0;
  font-family: Arial, sans-serif;
}

.app {
 background-color: rgba(0, 0, 0, 0.422);
 text-align: center;
  color: rgb(8, 8, 8);  
  padding: 50px 20px;
  border-radius: 10px;
  width: fit-content;
  margin: 50px auto;
  margin-top: 90px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:large;
  font-weight: bold;
  box-shadow: 5px 14px 14px rgba(7, 7, 7, 0.415);
}

.app:hover{
background-color: rgba(0, 0, 0, 0.422);
   text-align: center;
  padding: 55px 25px;
  border-radius: 15px;
  width: fit-content;
  margin: 50px auto;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:large;
  font-weight: bold;
  box-shadow: 1px 12px 10px rgba(7, 7, 7, 0.415);
}

.search-bar input {
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;

}

.search-bar input:hover{
  border: none;
    

}

.search-bar button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
    background: linear-gradient(135deg,#181241,#b4d2f7, #8b16a8);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.search-bar button:hover {
    background: linear-gradient(135deg,#8679d7,#b4d2f7, #da90ed);
     padding: 12px 17px;
     color: #414041;
    
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.weather-card img {
  width: 80px;
  height: 80px;
}

.error {
  color: red;
  margin-top: 10px;
}